
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("PartialHead","Default");

<body>
    <!-- header section start -->
    <div class="header_section">
       @await Component.InvokeAsync("_DefaultNavbarComponentPartial")
        <!-- banner section end -->
        @await Component.InvokeAsync("_DefaultBannerComponentPartial")
        <div class="container">
            <div class="play_icon"><a href="#"><img src="~/teab-1.0.0/images/play-icon.png"></a></div>
        </div>
        <!-- banner section end -->
    </div>
    @await Component.InvokeAsync("_DefaultAboutComponentPartial")
    <!-- services section start -->
    @await Component.InvokeAsync("_DefaultDrinkListComponentPartial")
    <!-- services section end -->
    <!-- choose section start -->
    @await Component.InvokeAsync("_DefaultStatisticsComponentPartial")
    <!-- choose section end -->
    <!-- frequently section start -->
    @await Component.InvokeAsync("_DefaultQuestionComponentPartial")
    <!-- frequently section end -->
    <!-- clients section start -->
    @await Component.InvokeAsync("_DefaultTestimonalComponentPartial")
    <!-- clients section end -->
    <!-- contact section start -->
    @await Component.InvokeAsync("_DefaultContactComponentParital")
    <!-- contact section end -->
    <!-- footer section start -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    <!-- contact section end -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">
              Tüm Hakları Saklıdır<a href="https://html.design">
                </a> Powered by <a href="https://themewagon.com">Astraglow Ltd.</a>
            </p>
            </p>
        </div>
    </div>
   @Html.Partial("PartialScript","Default")
</body>

</html>