<div class="about_section layout_padding">
    <div id="my_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about_main">
                                <h1 class="about_taital">Hakkımızda</h1>
                                <p class="about_text">

                                    15 Senelik Tecrübemizle sizlere En güzel içecekleri sunuyoruz Bizi takipte kalın.
                                </p>
                                <div class="readmore_bt"><a href="#">Daha fazla</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="image_2"><img src="~/teab-1.0.0/images/img-2.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>