<head>
	<title>TeaShop Admin Paneli</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<link rel="icon" href="~/flat-able-lite/dist/assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/flat-able-lite/dist/assets/css/style.css">
</head>