
<div class="choose_section">
    <div class="container">
        <h1 class="choose_taital">Neden Bizi Seçmelisiniz ?</h1>
        <p class="choose_text">
           Üstün kalite standartlarımızda ürettiğimiz içecekleri Sizlerle paylaşıyoruz.
        </p>
        <div class="choose_section_2">
            <div class="choose_left">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-1.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@string.Format("{0:N2}", double.Parse(ViewBag.v1)) ₺<br><span class="satisfied_text_1">Ürünlerin Ortalama Fiyatı</span></h1>
                </div>
            </div>
            <div class="choose_middle">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-2.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@ViewBag.v2<br><span class="satisfied_text_1">İçecek Sayısı</span></h1>
                </div>
            </div>
            <div class="choose_middle_1">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-3.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@ViewBag.v3<br><span class="satisfied_text_1">Son Eklenen İçecek</span></h1>
                </div>
            </div>
            <div class="choose_right">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-4.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@ViewBag.v4<br><span class="satisfied_text_1">En pahalı İçecek</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>