@model List<ResultDrinkDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>İçecek işlemleri</h5>
			</div>
			<div class="card-body">
				<p>
					<table class="table table-bordered">
						<tr>
							<th>#</th>
							<th>İçecek Adı</th>
							<th>İçecek Fiyatı</th>
							<th>İçecek Görseli</th>
							<th>Sil</th>
							<th>Güncelle</th>
						</tr>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.drinkId</td>
								<td>@item.drinkName</td>
								<td>@item.drinkPrice</td>
								<td><img style="width:100px;height:75px" src="@item.drinkImageUrl"></td>
								<th><a href="/Admin/Drinks/DeleteDrink/@item.drinkId" class="btn btn-outline-danger">Sil</a></th>
								<th><a href="/Admin/Drinks/UpdateDrink/@item.drinkId" class="btn btn-outline-success">Güncelle</a></th>
							</tr>
						}
					</table>
					<th><a href="/Admin/Drinks/CreateDrink" class="btn btn-outline-primary">Ekle</a></th>
				</p>
			</div>
		</div>
	</div>
	<!-- [ sample-page ] end -->
</div>

