<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">İçecekleri  <span style="color: #f3801f;">Tat</span></h1>
                        </div>
                        <div class="col-md-6">
                            <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">İçecekleri <span style="color: #f3801f;">Tat</span></h1>
                        </div>
                        <div class="col-md-6">
                            <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>