<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo"><a href="index.html"><img src="~/teab-1.0.0/images/logo.png"></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="index.html">Anasayfa</a>
            <a class="nav-item nav-link" href="about.html">Hakkımızda</a>
            <a class="nav-item nav-link" href="pricing.html">Fiyatlandırma</a>
            <a class="nav-item nav-link" href="testimonies.html">Referanslar</a>
            <a class="nav-item nav-link" href="contact.html">İletişim</a>
        </div>
    </div>
    <div class="login_menu">
        <a href="#"><img src="~/teab-1.0.0/images/search-icon.png"></a>
    </div>
</nav>